* {
    margin: 0;
    padding: 0;    
}

#services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.services-container .service {
    position: relative;
    display: flex;
    width: 300px;
    padding: 40px;
    box-shadow: 5px 5px 15px #c4c4c4;
    border-radius: 5px;
    margin: 20px;
    align-items: center;
    flex-direction: column;
}


.service .icon {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: royalblue;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    margin-bottom: 20px;
    font-size: 2rem;
}

.service .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

.service .content a {
    background-color: royalblue;
    padding: 10px 20px;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    width: 100px;
    transition: all ease-in-out 200ms;
}

.service .content a:hover {
    background-color: #fff;
    color: royalblue;
    font-weight: bolder;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.hero-image {
    width: 700px;
}

.hero-image img {
    width: 100%;;
}

.hero-content {
    width: 500px;
    padding-top: 100px;
    
}

.hero-content h1 {
    font-size: 3rem;
}

.hero-content p {
    font-size: 1.5rem;
    margin: 20px 0;
}

.hero-button {
    background-color: royalblue;
    padding: 10px 20px;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    width: 100px;
    transition: all ease-in-out 200ms;
}

#overview {
    text-align: center;
    max-width: 600px;
    margin: 50px auto;
    box-shadow: 5px 5px 20px #c2c2c2;
    padding: 50px 100px;
}

#overview .text {
    
}

#overview h2 {
    font-size: 1.5rem;
}

#overview p {
    font-size: 1.5rem;
    line-height: 2rem;
}

.contact {
    padding: 100px 20px;
    background: #faf5f5;
}

.contact-container {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.contact input {
    padding: 10px 5px;
    width: 400px;
    border: #fff;
}

.contact button {
    padding: 10px 25px;
    background-color: royalblue;
    border: #245afa;
    color: #fff;
}


footer {
    background-color: royalblue;
    padding: 30px 0;
    text-align: center;
    color: #fff;
}







@media (max-width: 900px) {

    .hero {
        display: flex;
        flex-direction: column-reverse;
        max-width: 500px;
        align-items: center;
        margin-bottom: 50px;
    }

    .hero-image {
        max-width: 400px;
    }
    
    .hero-content {
        padding: 0 20px;
        width: 300px;
        align-items: center;
    }

    

    .service {
        margin: 0 10px;
    }

    .hero-content h1 {
        font-size: 2rem;
    }
    
    .hero-content p {
        font-size: 1.25rem;
        margin: 20px 0;
    }

    .services-container {
        padding: 5px;
    }

    .contact-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #overview {
        padding: 50px 10px;
    }

    #overview h2 {
        font-size: 1.5rem;
    }
    
    #overview p {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    .contact input {
        padding: 10px 5px;
        width: 300px;
        border: #fff;
        margin: 10px 0;
    }
    
    .contact button {
        padding: 10px 25px;
        background-color: royalblue;
        border: #245afa;
        color: #fff;
    }
}

